body {
  background: #e74c3c;
}

i {
  height: 2em;
  width: 2em;
  border-radius: 100%;
  background: #fff;
  display: block;
  margin: 10em auto;
  position: absolute;
  left: 50%;
  -webkit-animation: spin 2s ease infinite;
}
i:before, i:after {
  content: '';
  display: block;
  position: absolute;
  height: inherit;
  width: inherit;
  background: inherit;
  border-radius: inherit;
  -webkit-animation: spin 2s ease infinite;
}
i:before {
  left: -2.3em;
}
i:after {
  left: 2.3em;
}

@-webkit-keyframes spin {
  0% {
    top: 0;
    -webkit-transform: rotate(0deg);
  }

  50% {
    top: -4em;
    -webkit-transform: rotate(-180deg);
  }

  100% {
    top: 0;
    -webkit-transform: rotate(-360deg);
  }
}